.content-container{
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-decoration: none;
  
}

.ra-color {
  color: #000000;

}

.mda-color {
  color: #4bcaff;
}

.link {
  text-decoration: none;
  padding-bottom: 40px;
}

.header-nav-list {
  display: flex;
  width: 1280px;
  height: 69px;
  background-color: #35444f;
  justify-content: space-evenly;
}

.header-nav-text-one {
  /*padding-top: 19px;
  padding-left: 32px; */
  height: 100%;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 24px;
  border-left: 1px solid #ffffff;
  align-items: center;
  display: flex;
  
}

.header-nav-text-two {
 /* padding-top: 19px;
  padding-left: 36px; */
  height: 100%;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 24px;
  border-left: 1px solid #ffffff;
  align-items: center;
  display: flex;
}

.header-nav-text-three {
 /* padding-top: 19px;
  padding-left: 40px; */
  height: 100%;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 24px;
  border-left: 1px solid #ffffff;
  align-items: center;
  display: flex;
}

.header-nav-text-four {
/*  padding-top: 19px;
  padding-left: 40px; */
  
  height: 100%;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 24px;
  border-left: 1px solid#ffffff;
  border-right: 1px solid #ffffff;
  align-items: center;
  display: flex;
}

.left-menu {
  display: flex;
  justify-content: space-between;
}

.left-menu-list {
  padding-left: 45px;
  border: 1px solid #000000;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  padding-top: 26px;
}

.left-menu-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  color: #485863;

}

.img-box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
} 

.img-border{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  width: 885px;
  height: 529px;
}


.paragraph{
  display: flex;
  flex-direction: column;
  padding-left: 13.5%;
  text-align: left;
  
}

.paragraph-up {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-top: 30px;
}

.paragraph-down {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-top: 30px;
  
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  margin-top: 54px;
  background-color: #63696E7A;
  height: 69px;
}

.footer-nav-text{
 display: flex;
 justify-content: space-between;
}

.copyright{
  padding-left: 135px;
}
