.body {
  margin: 0 auto;
}

.header {
  background-image: url(../img/First\ Background.png);
  margin: 0 auto;
  min-width: 1200px;
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: rgba(94, 93, 88, 0.6);
  min-width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
}

.h-logo {
  background-image: url(../img/Polygon\ 1\ 1.png);
  width: 58px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.h-logo-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.name-logo {
  display: flex;
}

.the-logo-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  padding-left: 3px;
  color: #ffffff;
}

.ham-logo-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: aquamarine;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu-text:hover {
  color: #18cfab;
  border-bottom: 3px solid #18cfab;
}

.header-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 210px;
}

.header-green-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  color: #ffffff;
}

.wordpress {
  color: #18cfab;
}

.header-main-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}

.header-little-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1px;
  color: #d4d4d4;
  margin-top: 12px;
}

.text-explore-purchase {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.text-explore {
  width: 169px;
  height: 63px;
  background: #18cfab;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  border-radius: 5px;
}

.text-purchase {
  width: 169px;
  height: 63px;
  background: #18cfab;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  border-radius: 5px;
}

.text-explore:hover {
  border-top: 5px solid white;
}

.text-purchase:hover {
  border-top: 5px solid white;
}

.four-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  margin: 0 auto;
  width: 1200px;
}

.different-box {
  width: 482px;
  height: 300px;
  background: #1c2a33;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.fully-box {
  width: 482px;
  height: 300px;
  background: #18cfab;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.unlimited-box {
  width: 482px;
  height: 300px;
  background: #1c2a33;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.responsive-box {
  width: 482px;
  height: 300px;
  background: #18cfab;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.four-boxes-text {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  padding-top: 57px;
}

.four-boxes-text-blue {
  text-transform: uppercase;
  color: #18cfab;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-top: 35px;
}

.main {
  margin: 0 auto;
  width: 1160px;
}

.our-service-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  background-color: #f8fcfe;
  color: #717171;
  cursor: pointer;
  border: 0.5px solid #b3b3b3;
  width: 192px;
  height: 65px;
  text-align: center;
}

.tabs-title.active {
  background: #18cfab;
  color: #ffffff;
}

.tab-content {
  display: none;
  padding-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}

.tab-content.active {
  display: flex;
  padding-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}

.everything-topic {
  background-image: url(../img/Layer\ 21\ 1.png);
  margin: 0 auto;
  min-width: 1200px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.everything-topic-main-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: #18cfab;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 50px;
}

.everything-topic-small-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}

.everything-topic-text-purchase {
  width: 150px;
  height: 53px;
  background: #18cfab;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 30px;
}

.everything-topic-text-purchase:hover {
  border-top: 5px solid white;
}











.our-amazing-work {
  background: #e9edef;
  min-width: 1200px;
  min-height: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.our-amazing-work-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  padding-top: 95px ;
}

.Wtabs-pht{
display: flex;
margin-top: 70px;
margin-bottom: 30px;
}

.Wtabs-title-pht{
width: 140px;
height: 58px;
left: 2px;
top: 4px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #DADADA;
text-align: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #717171;
padding-top: 18px;
}

.Wtabs-title-pht:hover{
  border: 2px solid #18CFAB;
  color: #18cfab; 
  }

.Wtabs-title-pht.active{
border: 2px solid #18CFAB;
color: #18cfab; 
}

.Wtab-content-pht {
  display: none;
}

.Wtab-content-pht.active {
  display: grid;
  grid-template-rows: 180px 180px 180px ;
  grid-template-columns: 255px 255px 255px 255px;
}






.our-amazing-work-item{
  content: url(../img/Layer\ 28.png);
  height: 180px;
  width: 255px;
}


.our-amazing-work-photo {
  background-image: url(../img/graphic-design/graphic-design1.jpg);
  width: 200px;
  height: 145px;
}

.our-amazing-work-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-amazing-work-button {
  margin-top: 125px;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  background-color: #18cfab;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: none;
}

.our-amazing-work-button::before {
  /* content: url(../img/Forma\ 1.jpg); */
  padding-right: 10px;
}

.breaking-news {
  margin-top: 60px;
  width: 1200px;
}

.breaking-news-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breaking-news-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.breaking-news-grid {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.breaking-news-grid-pht {
  display: grid;
  grid-template-rows: 208px 208px;
  grid-template-columns: 240px 240px 240px 240px;
  gap: 45px;
}

.breaking-news-grid-pht-box1 {
  text-align: center;
  background-image: url(../img/Layer\ 47.png);
}

.breaking-news-grid-pht-box2 {
  text-align: center;
  background-image: url(../img/Layer\ 50.png);
}

.breaking-news-grid-pht-box3 {
  text-align: center;
  background-image: url(../img/Layer\ 51.png);
}

.breaking-news-grid-pht-box4 {
  text-align: center;
  background-image: url(../img/Layer\ 52.png);
}

.breaking-news-grid-pht-box5 {
  text-align: center;
  background-image: url(../img/Layer\ 53.png);
}

.breaking-news-grid-pht-box6 {
  text-align: center;
  background-image: url(../img/Layer\ 54.png);
}

.breaking-news-grid-pht-box7 {
  text-align: center;
  background-image: url(../img/Layer\ 55.png);
}

.breaking-news-grid-pht-box8 {
  text-align: center;
  background-image: url(../img/Layer\ 56.png);
}

.breaking-news-grid-pht-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #717171;
  padding-top: 150px;
}

.breaking-news-grid-pht-text-small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #777777;
}

.small-squere {
  position: relative;
  top: 0px;
  left: 180px;
  width: 60px;
  height: 60px;
  background: #203e38;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.breaking-news-grid-pht-box1:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box1:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box2:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box2:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box3:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box3:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box4:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box4:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box5:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box5:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box6:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box6:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box7:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box7:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.breaking-news-grid-pht-box8:hover > .small-squere {
  background: #18cfab;
}

.breaking-news-grid-pht-box8:hover > .breaking-news-grid-pht-text {
  color: #18cfab;
}

.people-say {
  background-image: url(../img/Layer\ 333.png);
  min-width: 1200px;
  min-height: 850px;
  margin-top: 150px;
}

.people-say-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 100px;
}

.people-say-line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 29px;
}

.people-say-dott {
  color: #18cfab;
  font-size: 115px;
}

.people-say-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #bbbbbb;
  padding-top: 20px;
}

.people-say-people {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.people-say-people-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #18cfab;
}

.people-say-people-job {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #bbbbbb;
  padding-top: 10px;
}

.person {
  width: 130px;
  height: 130px;
  margin-top: 30px;
  border-radius: 50%;
  border: 8px solid #18cfab4f;
}

.people-say-people-all {
  display: flex;
  align-items: center;
}

.persona {
  width: 80px;
  height: 80px;
  margin-top: 30px;
  border-radius: 50%;
  border: 4px solid #18cfab4f;
  margin-left: 20px;
  margin-right: 20px;
}

.left {
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
}

.left:hover {
  background-color: #18cfab;
  border: none;
}

.right:hover {
  background-color: #18cfab;
  border: none;
}

.right {
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
}

.footer-name {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1200px;
  height: 120px;
  background: #22353f;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #aeaeae;
}

.footer-name-green {
  color: #18cfab;
}

.ff {
  content: url(../img/Layer\ 32.png);
}
