* {
  font-family: "Montserrat";
}

.page-header-menu {
  text-align: center;
}

.page-header-nav {
  width: 1280px;
}

.header-menu-link {
  text-decoration: none;
  color: #ff0000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-header-menu-item {
  list-style: none;
  display: inline-block;
  margin-right: 72px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 48px;
}

.top-text {
  text-align: center;
}

.low-text {
  text-align: center;
}

.foot {
text-align: center;

}

.button {
  border: none;
  color: #ffff;
  text-align: center;
  background-color: #ff0000;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 15px;
  padding: 12px 34px;
}
