.body {
  background-image: url(../img/Фон\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.header {
  background: #00000066;
  max-height: 
  58px;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left-text {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 10vh;
  font-size: 3.5vh;
}

.header-left-text:hover {
  color: #01813f;
}

.header-line {
  border-left: 1px solid white;
  height: 2.6vh;
  padding-right: 3.7vh;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-svg {
  padding-left: 3vw;
}

.header-svg-calendar:hover path {
  fill: #01813f;
}

.header-svg-mail:hover path {
  fill: #01813f;
}

.header-svg-compass:hover path {
  fill: #01813f;
}

.header-svg > svg {
  padding-right: 1.7vw;
}

.header-right-text {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.4vh;
  padding-right: 10vh;
}

.log-in-hover:hover {
  color: #01813f;
}

.sing-in-hover:hover {
  color: #01813f;
}

.main {
  background-color: #ffffff;
  max-width: 29vw;
  min-width: 20vw;
  max-height: 81vh;
  min-height: 81vh;
  margin: 0 auto;
  margin-top: 7.5vh;
}

.small-square {
  width: 2.45vh;
  height: 2.45vh;
  background: #3cb878;
  position: relative;
  top: 4.8vh;
}

.sing-up-or-log-in-text {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-left: 8.2vh;
  padding-right: 8.2vh;
}

.sing-up-text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
}

.log-in-text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: #3cb878;
}

.log-in-text:hover {
  color: #01813f;
  text-decoration: underline;
}

.facebook-google-log {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 8.2vh;
  padding-right: 8.2vh;
}

.facebook-log {
  background: #305db8;
  width: 10.5vw;
  height: 6.6vh;
  border-radius: 0.7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.facebook-log:hover {
  background: #022263;
}

.google-log {
  background: #df4a32;
  width: 10.5vw;
  height: 6.6vh;
  border-radius: 0.7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.google-log:hover {
  background: #ab1f09;
}

.fb-text {
  color: #ffffff;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
}

.google-text {
  color: #ffffff;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
}

.fb-logo {
  position: relative;
  padding-top: 0.41vh;
  border-right: 1px solid #2b0d0920;
  display: flex;
  align-items: center;
  padding-right: 1.3vh;
}

.google-logo {
  position: relative;
  padding-top: 0.13vh;
  border-right: 1px solid #2b0d0920;
  padding-right: 1.37vh;
  display: flex;
  align-items: center;
}

.or {
  padding-top: 1.37vh;
  padding-bottom: 1.37vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: #848484;
  font-size: 1.93vh;
  height: 2.7vh;
}

.or::before {
  content: url(../img/line.png);
}

.or::after {
  content: url(../img/line.png);
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.98vw;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.first-name {
  width: 21.1vw;
  height: 6.1vh;
  border: 1px solid #f2f2f2;
  border-radius: 0.5vh;
}

.first-name:focus{
  background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 0.5vh;
outline: none;
}

.last-name {
  width: 21.1vw;
  height: 6.1vh;
  border: 1px solid #f2f2f2;
  border-radius: 0.5vh;
}

.last-name:focus{
  background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 0.5vh;
outline: none;
}

.email {
  width: 21.1vw;
  height: 6.1vh;
  border: 1px solid #f2f2f2;
  border-radius: 0.5vh;
}

.email:focus{
  background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 0.5vh;
outline: none;
}

.choose-password {
  width: 21.1vw;
  height: 6.1vh;
  border: 1px solid #f2f2f2;
  border-radius: 0.5vh;
}

.choose-password:focus{
  background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 0.5vh;
outline: none;
}

.confirm-password {
  width: 21.1vw;
  height: 6.1vh;
  border: 1px solid #f2f2f2;
  border-radius: 0.5vh;
}

.confirm-password:focus{
  background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 0.5vh;
outline: none;
}

.checkbox {
  padding-top: 2.06vh;
  position: relative;
  padding-left: 8.1vh;

}

.checkbox-input{
  position: absolute;
  appearance: none;
}

.checkbox-label{
  padding-left: 2.7vh;
}

.checkbox-label::before{
 display: block;
 width: 0.98vw;
 height: 2.06vh;
 border: 1px solid #F2F2F2;
 content: "";
 position: absolute;

}

.checkbox-label::after{
  content: "";
  display: block;
  width: 0.98vw;
 height: 2.06vh;
  background: url(../img/Vector\ 1.svg) no-repeat;
  background-size: 0.98vw 2.06vh;
  opacity: 0;
  z-index: 3;
  top: 15px;
  position: absolute;
}

.checkbox-input:checked + .checkbox-label::after{
  opacity: 1;
}

.checkbox-link {
  color: #3cb878;
  text-decoration: none;
}

.checkbox-link:hover {
  color: #01813f;
  text-decoration: underline;
}

.create-account {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.06vh;
}

.create-account-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.6vw;
  height: 6.3vh;
  background: #3cb878cc;
  border-radius: 0.5vh;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.create-account-link {
  text-decoration: none;
  color: #ffffff;
}

.create-account-text:hover {
  background: #01813f;
}
