.body {
  background-image: url(../img/background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 68vw;
  margin: 0 auto;
  text-align: center;
}

.img-logo {
  width: 4.5vw;
  display: block;
  position: absolute;
}
 
.img-logo:hover{
 display: none;
 
}

.img-logo2{
  opacity: 0;
  width: 4.5vw;
  position: absolute;
  z-index: 3;
}

.img-logo2:hover{
  display: block;
  position: absolute;
  opacity: 1;
}


/*
.img-logo:hover path{
  fill: #F26522;
}
*/

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vw;
  
}

.logo-link {
  text-decoration: none;
  display: flex;
  
}


.logo-text {
  padding-left: 4vw;
  text-align: left;
  margin-left: 1vw;
  color: #ffffff; 
  display: inline-block;
}

.logo-text-milan {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  color: #ffffff;
}

.logo-text-holidays {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  color: #ffffff;
}


.logo-text:hover div{
  color: #F26522;
}

.contacts {
  text-align: end;
}

.email {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3vw;
}

.email:hover{
  color: #F26522;
}


.contact-phone {
  margin-top: 1vw;
}

.phone {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3vw;
}

.phone:hover{
  color: #F26522;
}




.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  column-gap: 5vw;
  row-gap: 2vw;
  padding-top: 2vw;
  margin: 0 auto;
}

.main-image1-link{
  text-decoration: none;
  color: #ffffff;
}

.main-image1{
  background-image: url("../img/image.png");
  height: 14.4vw;
  width: 19.55vw;
  display:block;
  background-repeat: no-repeat;
}

.main-image1-text{
  display: none;
  width: 19.55vw;
  height: 3.6vw;
  background-color: orange;
  position: relative;
  top: 10.8vw;
  color: #ffffff;
}

a:hover .main-image1-text{
  display: inline-block;
}

a:hover .main-image1-title{
  color: #F26522;
}

.main-image1-text-price{
  display: block;
  
}

.main-image1-text-price1{
 display: flex;
 padding-left: 1vw;
 padding-top: 0.1vw;
}

.main-image1-text-price-detail{
 display: flex;
 justify-content: space-between;
 padding-left: 1vw;
 padding-top: 0.3vw;
}

 .main-image1-text-price-detail1::after{
  content: url(../img/Vector\ 1.png);
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Roboto";
  font-weight: 400;
}

.main-image1-text-price1-from{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8vw;
}

/*-------------*/

.main-image2-link{
  text-decoration: none;
  color: #ffffff;
  
}

.main-image2{
  background-image: url("../img/image\ \(1\).png");
  height: 14.4vw;
  width: 19.55vw;
  display:block;
  background-repeat: no-repeat;
}

.main-image2-text{
  display: none;
  width: 19.55vw;
  height: 3.6vw;
  background-color: orange;
  position: relative;
  top: 10.8vw;
  color: #ffffff;
}

a:hover .main-image2-text{
  display: inline-block;
}

a:hover .main-image2-title{
  color: #F26522;
}

.main-image2-text-price{
  display: block;
  
}

.main-image2-text-price1{
 display: flex;
 padding-left: 1vw;
 padding-top: 0.1vw;
}

.main-image2-text-price-detail{
 display: flex;
 justify-content: space-between;
 padding-left: 1vw;
 padding-top: 0.3vw;
}

 .main-image2-text-price-detail2::after{
  content: url(../img/Vector\ 1.png);
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Roboto";
  font-weight: 400;
}

.main-image2-text-price2-from{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8vw;
}

/*-------------*/

.main-image3-link{
  text-decoration: none;
  color: #ffffff;
}

.main-image3{
  background-image: url("../img/image\ \(2\).png");
  height: 14.4vw;
  width: 19.55vw;
  display:block;
  background-repeat: no-repeat;
}

.main-image3-text{
  display: none;
  width: 19.55vw;
  height: 3.6vw;
  background-color: orange;
  position: relative;
  top: 10.8vw;
  color: #ffffff;
}

a:hover .main-image3-text{
  display: inline-block;
}

a:hover .main-image3-title{
  color: #F26522;
}




.main-image3-text-price{
  display: block;
  
}

.main-image3-text-price3{
 display: flex;
 padding-left: 1vw;
 padding-top: 0.1vw;
}

.main-image3-text-price-detail{
 display: flex;
 justify-content: space-between;
 padding-left: 1vw;
 padding-top: 0.3vw;
}

 .main-image3-text-price-detail3::after{
  content: url(../img/Vector\ 1.png);
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Roboto";
  font-weight: 400;

}

.main-image3-text-price3-from{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8vw;
}
/*-------------*/

.main-image4-link{
  text-decoration: none;
  color: #ffffff;
}

.main-image4{
  background-image: url("../img/image\ \(3\).png");
  height: 14.4vw;
  width: 19.55vw;
  display:block;
  background-repeat: no-repeat;
}

.main-image4-text{
  display: none;
  width: 19.55vw;
  height: 3.6vw;
  background-color: orange;
  position: relative;
  top: 10.8vw;
  color: #ffffff;
}

a:hover .main-image4-text{
  display: inline-block;
}

a:hover .main-image4-title{
  color: #F26522;
}






.main-image4-text-price{
  display: block;
  
}

.main-image4-text-price4{
 display: flex;
 padding-left: 1vw;
 padding-top: 0.1vw;
}

.main-image4-text-price-detail{
 display: flex;
 justify-content: space-between;
 padding-left: 1vw;
 padding-top: 0.3vw;
}

 .main-image4-text-price-detail4::after{
  content: url(../img/Vector\ 1.png);
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Roboto";
  font-weight: 400;

}

.main-image4-text-price4-from{
  font-family: "Roboto";
  font-weight: 400 ; 
  font-size: 0.8vw;
}
/*-------------*/

.main-image5-link{
  text-decoration: none;
  color: #ffffff;
}

.main-image5{
  background-image: url("../img/image\ \(4\).png");
  height: 14.4vw;
  width: 19.55vw;
  display:block;
  background-repeat: no-repeat;
}

.main-image5-text{
  display: none;
  width: 19.55vw;
  height: 3.6vw;
  background-color: orange;
  position: relative;
  top: 10.8vw;
  color: #ffffff;
}

a:hover .main-image5-text{
  display: inline-block;
}

a:hover .main-image5-title{
  color: #F26522;
}









.main-image5-text-price{
  display: block;
  
}

.main-image5-text-price5{
 display: flex;
 padding-left: 1vw;
 padding-top: 0.1vw;
}

.main-image5-text-price-detail{
 display: flex;
 justify-content: space-between;
 padding-left: 1vw;
 padding-top: 0.3vw;
}

 .main-image5-text-price-detail5::after{
  content: url(../img/Vector\ 1.png);
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Roboto";
  font-weight: 400;

}

.main-image5-text-price5-from{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8vw;
}
/*-------------*/

.main-image6-link{
  text-decoration: none;
  color: #ffffff;
}

.main-image6{
  background-image: url("../img/image\ \(5\).png");
  height: 14.4vw;
  width: 19.55vw;
  display:block;
  background-repeat: no-repeat;
  
}

.main-image6-text{
  display: none;
  width: 19.55vw;
  height: 3.6vw;
  background-color: orange;
  position: relative;
  top: 10.8vw;
  color: #ffffff;
  
}

a:hover .main-image6-text{
  display: inline-block;
}

a:hover .main-image6-title{
  color: #F26522;
}





.main-image6-text-price{
  display: block;
  
}

.main-image6-text-price6{
 display: flex;
 padding-left: 1vw;
 padding-top: 0.1vw;
}

.main-image6-text-price-detail{
 display: flex;
 justify-content: space-between;
 padding-left: 1vw;
 padding-top: 0.3vw;
}

 .main-image6-text-price-detail6::after{
  content: url(../img/Vector\ 1.png);
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Roboto";
  font-weight: 400;

}

.main-image6-text-price6-from{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8vw;
}
/*-------------*/

.foot{
display: inline-block;
}

.foot-text {
  color: #ffffff;
  padding-top: 2vw;
  height: 2vw;
  width: 30vw;

}
